<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2013 – 2015 Ricki Hirner (bitfire web engineering).
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU
  ~ General Public License as published by the Free Software Foundation, either version 3 of the
  ~ License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
  ~ without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
  ~ PURPOSE.  See the GNU General Public License for more details.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="at.bitfire.icsdroid"
          android:installLocation="internalOnly">

    <!-- fetch iCalendar files -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- manage ICSdroid accounts -->
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" android:maxSdkVersion="22"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" android:maxSdkVersion="22"/>

    <!-- view/change the sync. interval and whether the account is sync.ing -->
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <!-- access local .ics files -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- remove task permissions from ical4android -->
    <uses-permission android:name="org.dmfs.permission.READ_TASKS" tools:node="remove"/>
    <uses-permission android:name="org.dmfs.permission.WRITE_TASKS" tools:node="remove"/>


</manifest>
